// @author Alexander Marenin
// @date September 2014


extends ../layout

block scripts
    script(src='/public/js/accountPage.js')

block content
    form(role='form', method='POST', action=postUrl, enctype='multipart/form-data')
        .row
            .col-md-4
                .panel.panel-account
                    .panel-heading #{account.login}
                        #edit-button
                            span.glyphicon.glyphicon-pencil
                    .panel-body#panel-info
                        p.text-muted
                            span.glyphicon.glyphicon-user
                            span= account.name || '-- no name --'
                        p.text-muted
                            span.glyphicon.glyphicon-earphone
                            span= account.phone || '-- no phone --'
                        p.text-muted
                            span.glyphicon.glyphicon-envelope
                            span= account.email || '-- no email --'
                        p.text-muted
                            span.glyphicon.glyphicon-flash
                            span
                                each role in account.role
                                    span.badge= role
                                else
                                    | -- no role --
                    .panel-body#panel-info-edit
                        .form-group
                            input(type='hidden', name='_id', value=account._id)
                            .form-group
                                label(for='account-name') Name
                                input#account-name.form-control(type='text', name='name', value=account.name)
                            .form-group
                                label(for='account-phone') Phone
                                input#account-phone.form-control(type='text', name='phone', value=account.phone)
                            .form-group
                                label(for='account-email') Email
                                input#account-email.form-control(type='text', name='email', value=account.email)
                            .form-group
                                label(for='account-password') Password
                                input#account-password.form-control(type='password', name='password', value='')
                            .form-group
                                label(for='account-password-confirm') Password Confirmation
                                input#account-password-confirm.form-control(type='password', name='passwordConfirm', value='')
                            if role.can( 'edit permissions' )
                                h3 Roles
                                .checkbox
                                    label
                                        input(type='checkbox', name='role' value='admin', checked=account.role.indexOf('admin') > -1)
                                        | Admin
                                .checkbox
                                    label
                                        input(type='checkbox', name='role' value='card moderator', checked=account.role.indexOf('card moderator') > -1)
                                        | Card moderator
                                .checkbox
                                    label
                                        input(type='checkbox', name='role' value='issuer moderator', checked=account.role.indexOf('issuer moderator') > -1)
                                        | Issuer moderator
                                        .form-group
                            .center
                                button#cancel-button.btn.btn-danger Cancel
                                button.btn.btn-success Update

            .col-md-4
                .panel.panel-stats
                    .panel-heading Statistics
                    ul.list-group
                        li.list-group-item Moderated cards
                            .value= account.moderatedCards
                        li.list-group-item Moderated issuers
                            .value= account.moderatedIssuers

            .col-md-4
                .panel.panel-activity
                    .panel-heading Activity
                    ul.list-group
                        each activity in activities
                            - var tpl = activity.entityType === 'card' ? route.CARD_PAGE : route.ISSUER_PAGE;
                            - var url = formatUrl( tpl, {id: activity.entityId} );
                            li.list-group-item #{activity.action} #{activity.entityType}
                                .value
                                    a(href=url)= activity.entityId
                        else
                            li.list-group-item.center -- no activity yet --