// @author Alexander Marenin
// @date July 2014

extends ../layout

block scripts
    script(src='/public/js/Server.js')
    script(src='/public/js/cardPage.js')

block content
    form#addCard(role='form', method='POST', action=postUrl)
        .row
            .col-md-4
                h3 Information
                .form-group
                    label(for='card-name') Card name
                    input#issuer-name.form-control(type='text', name='name', value=name)
                .form-group
                    label(for='issuer-name') Issuer name
                    input#issuer-name.form-control(type='text', name='issuerName', value=issuerName)
                .form-group
                    label(for='type-name') Card Type
                    input#type-name.form-control(type='text', name='typeName', value=typeName)
                .form-group
                    label(for='card-user') User ID
                    input#card-user.form-control(type='text', name='userId', value=userId)

            .col-md-4
                h3 Front image
                .image-container
                    input(type='file', name='image[0]')
                    if showImages
                        - var img1Url = formatUrl( route.CARD_IMAGE, {id: id, imgId: 0} );
                        img.img-responsive.img-thumbnail(src=img1Url)
            .col-md-4
                h3 Back image
                .image-container
                    input(type='file', name='image[1]')
                    if showImages
                        - var img2Url = formatUrl( route.CARD_IMAGE, {id: id, imgId: 1} );
                        img.img-responsive.img-thumbnail(src=img2Url)

        .row
            .col-md-12.center.offset-top
                button.btn.btn-success(type='submit')= submitCaption

