// @author Alexander Marenin
// @date July 2014

extends ../layout

block scripts
    script(src='/public/js/Server.js')
    script(src='/public/js/cardPage.js')

block content
    form#card(role='form', method='POST', action=postUrl, enctype='multipart/form-data')
        .row
            .col-md-4
                h3 Information
                .form-group
                    label(for='card-name') Name
                    input#card-name.form-control(type='text', name='name', value=name)
                .form-group
                    label(for='card-city') City
                    input#card-city.form-control(type='text', name='city', value=city)
                .form-group
                    label(for='issuer-id') Issuer
                    select.form-control(name='issuerId')
                        option(value='', disabled, selected) ---
                        each issuer in issuers
                            - var selected = String( issuer._id ) === String( issuerId )
                            option(value=issuer._id, selected=selected)= issuer.name
                .form-group
                    label(for='type-id') Card Type
                    select.form-control(name='typeId')
                        option.default(value='', disabled, selected) ---
            .col-md-4
                h3 Front image
                .image-container
                    input(type='file', name='imgFront')
                    if showImages
                        - var img1Url = formatUrl( route.CARD_IMAGE, {id: id, type: 'front'} );
                        img.img-responsive.img-thumbnail(src=img1Url)
            .col-md-4
                h3 Back image
                .image-container
                    input(type='file', name='imgBack')
                    if showImages
                        - var img2Url = formatUrl( route.CARD_IMAGE, {id: id, type: 'back'} );
                        img.img-responsive.img-thumbnail(src=img2Url)

        .row
            .col-md-12.center.offset-top
                button.btn.btn-success(type='submit')= submitCaption

