// @author Alexander Marenin
// @date July 2014

extends ../layout

block scripts
    script(src='/public/bower/chosen/chosen.jquery.min.js')
    script(src='/public/js/Server.js')
    script(src='/public/js/cardPage.js')


block header-buttons
    a#hotkeys-help.btn.btn-default(href='#', data-contentwrapper='#hotkeys', rel='popover') Show help
    if showImages
        a#switch-images.btn.btn-default(href='#')
            span.glyphicon.glyphicon-retweet
            | &nbsp; Switch images

block content
    ul#hotkeys.list-group(style='display: none;')
        li.list-group-item update and next
            span.badge ctrl + enter
        li.list-group-item create new issuer
            span.badge ctrl + i
        li.list-group-item switch images
            span.badge ctrl + x
        li.list-group-item hide create fields
            span.badge esc
    if locked
        .alert.alert-danger This card is locked by other user
    form#card(role='form', method='POST', action=postUrl, enctype='multipart/form-data')
        input(type='hidden', name='switch')
        .row
            .col-md-4
                h3 Information
                #exisitng-issuer-container.form-group
                    label(for='issuer-id') Issuer
                    select.form-control(name='issuerId')
                        option(value='', disabled, selected) ---
                        each issuer in issuers
                            - var selected = String( issuer._id ) === String( issuerId )
                            option(value=issuer._id, selected=selected)= issuer.name
                    p#new-issuer-help.help-block Or you can
                        a(href=route.NEW_ISSUER_PAGE, target='_blank') &nbsp;add new issuer
                #new-issuer-container.form-group
                    label(for='new-issuer') New issuer name
                    span#hide-new-issuer.glyphicon.glyphicon-remove
                    input#new-issuer.form-control(type='text', name='newIssuer')

                #existing-card-type-container.form-group
                    label(for='type-id') Card Type
                    select.form-control(name='typeId')
                        option.default(value='', disabled, selected) ---
                        each type in cardTypes
                            - var selected = String( type._id ) === String( typeId )
                            option(value=type._id, selected=selected)= type.name
                    p#new-card-type-help.help-block Or you can
                        a(href=route.NEW_ISSUER_PAGE, target='_blank') &nbsp;add new card type
                    #card-type-preview
                        .card-preview Example front
                            img#preview-front.img-responsive.img-thumbnail
                        .card-preview Example back
                            img#preview-back.img-responsive.img-thumbnail
                #new-card-type-container.form-group
                    label(for='new-issuer') New card type name
                    span#hide-new-card-type.glyphicon.glyphicon-remove
                    input#new-card-type.form-control(type='text', name='newCardType', data-default=defaultNewType || '')
                .form-group
                    label(for='card-city') City
                    input#card-city.form-control(type='text', name='city', value=city)
                if showNextButton
                    button#update-and-next.btn.btn-success(type='submit', disabled=!!locked) Update and next

            .col-md-4
                h3 Front image
                .image-container
                    if showImages
                        if haveFrontImg
                            - var img1Url = formatUrl( route.API_PREFIX + route.CARD_IMAGE, {id: id, type: 'front'} );
                            a(href=img1Url, target='_blank')
                                img#imgFront.img-responsive.img-thumbnail(src=img1Url)
                        else
                            .alert.alert-warning.center(role='alert') No image
                    if role.can('upload card image')
                        input(type='file', name='imgFront')
            .col-md-4
                h3 Back image
                .image-container
                    if showImages
                        if haveBackImg
                            - var img2Url = formatUrl( route.API_PREFIX + route.CARD_IMAGE, {id: id, type: 'back'} );
                            a(href=img2Url, target='_blank')
                                img#imgBack.img-responsive.img-thumbnail(src=img2Url)
                        else
                            .alert.alert-warning.center(role='alert') No image
                    if role.can('upload card image')
                        input(type='file', name='imgBack')

        .row
            .col-md-12.center.offset-top
                button.btn.btn-success(type='submit')= submitCaption
