// @author Alexander Marenin
// @date July 2014

extends ../layout

block header-buttons
    a.btn.btn-default(href=route.NEW_CARD_PAGE) Add card

block content
    .table-responsive
        table.table.table-striped.table-hover
            tr
                th Name
                th City
                th Issuer Name
                th Card Type
                th Is full
            each card in cards
                - var cardUrl = formatUrl( route.CARD_PAGE, {id: card._id} )
                tr(class=card.full ? 'success' : '')
                    td
                        a(href=cardUrl)= (card.name || '---')
                    td
                        a(href=cardUrl)= (card.city || '---')
                    td= card.issuerName
                    td= card.typeName
                    td
                        if card.full
                            span.glyphicon.glyphicon-plus
                        else
                            span.glyphicon.glyphicon-minus
