// @author Alexander Marenin
// @date September 2014

extends ../layout

block scripts
    script(src='/public/js/cardTypePage.js')

block content
    .row
        .col-md-4
            .panel.violet
                .panel-heading Info
                    #edit-button
                        span.glyphicon.glyphicon-pencil
                .panel-body
                    #type-info
                        .value-block
                            .caption Name
                            .value= type.name
                        .value-block
                            .caption Issuer
                            .value
                                - var issuerUrl = formatUrl(route.ISSUER_PAGE, {id: issuer._id})
                                a(href=issuerUrl)= issuer.name
                        .value-block
                            .caption Magnetic stripe
                            .value= type.magneticStripe ? 'yes' : 'no'
                        .value-block
                            .caption Card number
                            .value= type.cardNumber ? 'yes' : 'no'
                        if type.cardNumber
                            .value-block
                                .caption Card number length
                                .value= type.cardNumberLength
                        .value-block
                            .caption User name
                            .value= type.userName ? 'yes' : 'no'
                        .value-block
                            .caption Chip
                            .value= type.chip ? 'yes' : 'no'
                        .value-block
                            .caption NFC
                            .value= type.nfc ? 'yes' : 'no'


                    form#type-form(role='form', method='POST', action=postUrl)
                        .form-group
                            label(for='type-name') Name
                            input#type-name.form-control(type='text', name='name', value=type.name)
                        .checkbox
                            label
                                input(type='checkbox', name='magneticStripe', value='yes', checked=type.magneticStripe)
                                | Magnetic stripe
                        .checkbox
                            label
                                input(type='checkbox', name='cardNumber', value='yes', checked=type.cardNumber)
                                | Card Number
                            #card-number-length-container.form-group(style="display: " + (type.cardNumber ? 'block;' : 'none;'))
                                input.form-control(type='number', name='cardNumberLength', value=type.cardNumberLength || 0)
                        .checkbox
                            label
                                input(type='checkbox', name='userName', value='yes', checked=type.userName)
                                | User name
                        .checkbox
                            label
                                input(type='checkbox', name='chip', value='yes', checked=type.chip)
                                | Chip
                        .checkbox
                            label
                                input(type='checkbox', name='nfc', value='yes', checked=type.nfc)
                                | NFC
                        .center
                            button#cancel-button.btn.btn-danger Cancel
                            button.btn.btn-success Update
        .col-md-4
            .panel.blue
                .panel-heading Preview
                .panel-body
                    if ( cards.length )
                        - var frontUrl = formatUrl( route.API_PREFIX + route.CARD_TYPE_PREVIEW_FRONT, {id: type._id, type: 'front'} );
                        a.card-preview(href=frontUrl, target='_blank')
                            img#preview-front.img-responsive.img-rounded(src=frontUrl)
                        - var backUrl = formatUrl( route.API_PREFIX + route.CARD_TYPE_PREVIEW_FRONT, {id: type._id, type: 'back'} );
                        a.card-preview(href=backUrl, target='_blank')
                            img#preview-back.img-responsive.img-rounded(src=backUrl)
                    else
                        .center -- no card preview available --
        .col-md-4
            .panel.orange
                .panel-heading Cards (#{cards.length} total)
                ul.list-group
                    each card in cards
                        li.list-group-item
                            - var url = formatUrl(route.CARD_PAGE, {id: card._id})
                            a(href=url)= card._id
                    else
                        li.list-group-item.center -- no cards yet --
