// @author Alexander Marenin
// @date July 2014

extends ../layout
include ../mixins

block scripts
    script(src='/public/js/cardsPage.js')

block header-buttons
    a.btn.btn-default(href=route.NEW_CARD_PAGE) Add card
    a.btn.btn-default(href=route.CARD_MODERATE) Moderate

block content
    if ( done )
        .alert.alert-success Well done! All cards are filled.

    #cards.table-responsive
        table.table.table-striped.table-hover
            tr
                th City
                th Issuer
                th Card Type
                th.short.center Front Image
                th.short.center Back Image
            each card in cards
                - var cardUrl = formatUrl( route.CARD_PAGE, {id: card._id} )
                - var rowClass = card.isFull() ? '' : 'not-filled'
                tr(class=rowClass, data-card-url=cardUrl)
                    td
                        a(href=cardUrl)= card.city || '---'
                    td= card.issuerName
                    td= card.typeName
                    td.center
                        if card.imgFront && card.imgFront.mimeType
                            span.glyphicon.glyphicon-ok
                        else
                            span.glyphicon.glyphicon-remove
                    td.center
                        if card.imgBack && card.imgBack.mimeType
                            span.glyphicon.glyphicon-ok
                        else
                            span.glyphicon.glyphicon-remove

    if totalPages > 1
        .center
            +pagination(currentPage, totalPages, tplUrl)
