// @author Alexander Marenin
// @date July 2014

extends ../layout

block scripts
    script(src='/public/bower/chosen/chosen.jquery.min.js')
    script(src='/public/js/Server.js')
    script(src='/public/js/cardPage.js')

block content
    form#card(role='form', method='POST', action=postUrl, enctype='multipart/form-data')
        .row
            .col-md-4
                h3 Information
                .form-group
                    label(for='card-city') City
                    input#card-city.form-control(type='text', name='city', value=city)
                #exisitng-issuer-container.form-group
                    label(for='issuer-id') Issuer
                    select.form-control(name='issuerId')
                        option(value='', disabled, selected) ---
                        each issuer in issuers
                            - var selected = String( issuer._id ) === String( issuerId )
                            option(value=issuer._id, selected=selected)= issuer.name
                    p#new-issuer-help.help-block Or you can
                        a(href=route.NEW_ISSUER_PAGE, target='_blank') &nbsp;add new issuer
                #new-issuer-container.form-group
                    label(for='new-issuer') New issuer name
                    span#hide-new-issuer.glyphicon.glyphicon-remove
                    input#new-issuer.form-control(type='text', name='newIssuer')

                #existing-card-type-container.form-group
                    label(for='type-id') Card Type
                    select.form-control(name='typeId')
                        option.default(value='', disabled, selected) ---
                        each type in cardTypes
                            - var selected = String( type._id ) === String( typeId )
                            option(value=type._id, selected=selected)= type.name
                    p#new-card-type-help.help-block Or you can
                        a(href=route.NEW_ISSUER_PAGE, target='_blank') &nbsp;add new card type
                #new-card-type-container.form-group
                    label(for='new-issuer') New card type name
                    span#hide-new-card-type.glyphicon.glyphicon-remove
                    input#new-issuer.form-control(type='text', name='newCardType', value=defaultNewType || '')
            .col-md-4
                h3 Front image
                .image-container
                    input(type='file', name='imgFront')
                    if showImages
                        if haveFrontImg
                            - var img1Url = formatUrl( route.API_PREFIX + route.CARD_IMAGE, {id: id, type: 'front'} );
                            a(href=img1Url)
                                img.img-responsive.img-thumbnail(src=img1Url)
                        else
                            .alert.alert-danger(role='alert')
                                span.glyphicon.glyphicon-remove
                                | No image
            .col-md-4
                h3 Back image
                .image-container
                    input(type='file', name='imgBack')
                    if showImages
                        if haveBackImg
                            - var img2Url = formatUrl( route.API_PREFIX + route.CARD_IMAGE, {id: id, type: 'back'} );
                            a(href=img2Url)
                                img.img-responsive.img-thumbnail(src=img2Url)
                        else
                            .alert.alert-danger(role='alert')
                                span.glyphicon.glyphicon-remove
                                | No image

        .row
            .col-md-12.center.offset-top
                button.btn.btn-success(type='submit')= submitCaption
                if showNextButton
                    button#update-and-next.btn.btn-success(type='submit') Update and next

