// @author Alexander Marenin
// @date July 2014

extends ../layout

block header-buttons
    a.btn.btn-default(href=route.NEW_CARD_PAGE) Add card
    a.btn.btn-default(href=route.CARD_MODERATE) Moderate

block content
    if ( done )
        .alert.alert-success Well done! All cards are filled.
    #cards.table-responsive
        table.table.table-striped.table-hover
            tr
                th Name
                th City
                th Issuer Name
                th Card Type
            each card in cards
                - var cardUrl = formatUrl( route.CARD_PAGE, {id: card._id} )
                tr(class=card.isFull() ? '' : 'not-filled')
                    td
                        a(href=cardUrl)= (card.name || '---')
                    td
                        a(href=cardUrl)= (card.city || '---')
                    td= card.issuerName
                    td= card.typeName
