// @author Alexander Marenin
// @date July 2014

extends ../layout

block content
    .row
        .col-md-4
            .panel.panel-cards
                .panel-heading Cards statistics
                ul.list-group
                    li.list-group-item Total cards
                        .value= cardsCount
                    li.list-group-item Filled cards
                        .value= filledCardsCount
                    li.list-group-item Non-filled cards
                        .value= emptyCardsCount

            .panel.panel-cities
                .panel-heading Top cities by card count
                ul.list-group
                    each city in topCities
                        li.list-group-item= city.name
                            .value= city.count

        .col-md-4
            .panel.panel-issuers
                .panel-heading Issuers statistics
                ul.list-group
                    li.list-group-item Total issuers
                        .value= issuersCount
                    li.list-group-item Total card types
                        .value= cardTypesCount

            .panel.panel-top-issuers
                .panel-heading Top issuers by card count
                ul.list-group
                    each issuer in topIssuers
                        - var url = formatUrl(route.ISSUER_PAGE, {id: issuer.id})
                        li.list-group-item
                            a(href=url)= issuer.name
                            .value= issuer.cards

        .col-md-4
            .panel.panel-users
                .panel-heading Users statistics
                ul.list-group
                    li.list-group-item Total users
                        .value= usersCount
                    li.list-group-item Cards per user
                        .value= cardsPerUser

            .panel.panel-top-users
                .panel-heading Top users by cards count
                ul.list-group
                    each user in topUsers
                        - var url = formatUrl(route.USER_PAGE, {id: user.id})
                        li.list-group-item
                            a(href=url)= user.id
                            .value= user.count
