// @author Alexander Marenin
// @date July 2014

extends ../layout
include ../mixins

block header-buttons
    form#search-issuers
        .input-group
            input.form-control(type='text', name='search', value=search)
            span.input-group-btn
                button.btn.btn-default
                    span.glyphicon.glyphicon-search
    a.btn.btn-default(href=route.NEW_ISSUER_PAGE) Add issuer

block content
    .table-responsive
        table.table.table-striped.table-hover
            tr
                th Name
                th Description
                th Phone
                th URL
                th Cards count
            each issuer in issuers
                - var issuerUrl = formatUrl( route.ISSUER_PAGE, {id: issuer._id} )
                tr
                    td
                        a(href=issuerUrl)= issuer.name
                    td= issuer.description ? String(issuer.description).slice( 0, 80 ) : '-'
                    td= issuer.phone || '-'
                    td
                        a(href=issuer.url, target='_blank')= issuer.url
                    td= issuer.cards

    if totalPages > 1
        .center
            +pagination(currentPage, totalPages, tplUrl)