// @author Alexander Marenin
// @date July 2014

extends ../layout

block header-buttons
    a.btn.btn-default(href=route.NEW_ISSUER_PAGE) Add issuer

block content
    .table-responsive
        table.table.table-striped
            tr
                th Name
                th Description
                th Phone
                th URL
            each issuer in issuers
                - var issuerUrl = formatUrl( route.ISSUER_PAGE, {id: issuer._id} )
                tr
                    td
                        a(href=issuerUrl)= issuer.name
                    td= String(issuer.description).slice( 0, 80 )
                    td= issuer.phone || '-'
                    td
                        a(href=issuer.url, target='_blank')= issuer.url

